@{
    ViewBag.Title = "Language Translation";
}

@Html.InitCrudPopupsForGrid("OriginalTextGrid", "OriginalText", 470, 1000)
 <h2>Open Language Translation </h2>

<style>
	.awe-ajaxcheckboxlist-field li {
		display: inline-block;
	}
</style>

@Html.Awe().AjaxCheckboxList("chkColumns").Url(Url.Action("GetColumnsItems")).Load(true)
<button type="button" class="awe-btn" id="btnUpdateColumns">Update columns</button>
<script>
    $(function () {
		$('#OriginalTextGrid').on('aweload', function (e, res) {
            $('#chkColumns').val(JSON.stringify(res.tg.selectedColumns)).data('api').load({ params: res.tg });
        });

        $('#btnUpdateColumns').click(function () {
            var val = $('#chkColumns').val();
            if (!val) val = "[]";
			$('#OriginalTextGrid').data('api').load({ oparams: { selectedColumns: JSON.parse(val), choosingColumns: true } });
        });
    });
</script>

@(Html.Awe().Grid("OriginalTextGrid")
			.Height(350)
			.Url(Url.Action("OriginalTextGridGetItems"))
			.Groupable(false)
			.Columns(
			new Column { Bind = "Original_Text" },
			new Column { ClientFormat = GridUtils.EditFormatForGrid("OriginalTextGrid","TextId"), Width = 50 },
			new Column { ClientFormat = GridUtils.DeleteFormatForGrid("OriginalTextGrid", "TextId"), Width = 50 }))


