@model OpenTranslator.Models.Input.LanguageInput
@using (Html.Awe().BeginContext())
{
	using (Html.BeginForm())
	{
		<span style="color:red" id="err"></span>
    @Html.EditorFor(o => o.LanguageCode)
	@Html.EditorFor(o => o.LanguageName)
	}
}
<script>
    
    var errormsg = '@ViewBag.languageExist';
    if (errormsg != '')
    {
        $("#editLanguagesLanguageCode-awed").prop('disabled', true);
        $("#err").text("You can not edit Language code, it is used.")
    }
        
</script>