@{
	ViewBag.Title = "Open Translation";

}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="bar">

				@Html.InitCrudPopupsForGrid("Languages", "Languages", 470, 1000, " Language")
				<div class="bar">
					<button type="button" onclick="awe.open('createLanguages')" class="awe-btn mbtn">Add Language</button>
				</div>
				@(Html.Awe().Grid("Languages")
						.Mod(o => o.ColumnsSelector().PageSize().PageInfo().Loading().AutoMiniPager())
						.Url(Url.Action("LanguageItems", "Languages"))
						.Groupable(false)
						.Columns(
						new Column { Bind = "LanguageCode" , Header = "Language Code" },
						new Column { Bind = "LanguageName", Header = "Language Name" },
						new Column { ClientFormat = GridUtils.EditFormatForGrid("Languages", "Id"), Width = 50 },
						new Column { ClientFormat = GridUtils.DeleteFormatForGrid("Languages", "Id"), Width = 50 }))
				<br /><br />


			</div>
		</div>
	</div>
	</div>
	<script>

		function logout() {
			var url = '@Url.Action("Index", "User")';
			window.location = url;
		}


	</script>
