@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="main-header">
    <div class="container">
        <h1 class="page-title">About</h1>
    </div>
</header>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="company-info">
				<img src="~/Content/assets/img/logo-3.png" class="img-responsive contactus-logo">
				<p class="text-center contactus_text">
				  Software that <span>just works </span>. <br/>
                    We <span>design</span>, <span>build</span> and <span>deliver quality</span> software <span>on-time</span> and <span>on-budget</span>.</p>
			<div>
		</div>
	</div>
</div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title no-margin-top">Contact Us</h2>
        </div>
        <div class="col-md-8">
            <section>
                <p>Contact us with your enquiry and we will get back to you as soon as we can!</p>

                <form role="form">
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="email" class="form-control" id="InputName">
                    </div>
                    <div class="form-group">
                        <label for="InputEmail1">Email address</label>
                        <input type="email" class="form-control" id="InputEmail1">
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Mesagge</label>
                        <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                    </div>
                    <button type="submit" class="btn btn-ar btn-primary">Submit</button><br /><br />
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>

        <div class="col-md-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-envelope-o"></i> Additional Information</div>
                    <div class="panel-body">
                        <h4 class="section-title no-margin-top">Contacts</h4>
                        <address>
							<strong><a href="http://www.sphere10.com">Sphere 10 Software</a></strong><br>
							<i class="fa fa-phone-square"></i>&nbsp;&nbsp;+61 (7) 3195 3224 <span class="badge badge-primary pull-right">Australia</span> <br>
							<i class="fa fa-phone-square"></i>&nbsp;&nbsp;+1 (562) 661 8263 <span class="badge badge-primary pull-right">United States</span><br>
							<i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:%73u%70port@s%70her%6510.com">support@sphere10.com</a>
						</address>
                    </div>
                </div>
            </section>
        </div>
    </div>


</div> <!-- container -->
<script>
	$(document).ready(function () {
		$(".carousel-section").hide();
		$(".main-header").css({ 'background-color': '#f1f1f1 !important', 'border-bottom': 'solid 1px #ddd', 'color': '#333 !important' });
		$(".page-title").css({'color': '#333 !important', 'border-color': '#333' });
		
	});
</script>