@using Mvc5MinSetup.Controllers.Awesome.MultiLookup
@using Mvc5MinSetup.Models
@{
    ViewBag.Title = "Language Translation";
}

 <h2>Language Translation </h2>
@Html.InitCrudPopupsForGrid("LanguageTranslator", "StringTranslator")
@* popup names will be action + gridid; name is used when calling awe.open(name) *@
	<div style="float: right;">
        @Html.Awe().TextBox("txtSearch").Placeholder("search...").CssClass("searchtxt")
    </div>
    <div class="bar">
        <button type="button" onclick="awe.open('createLanguageTranslator')" class="awe-btn mbtn">Add String</button>
    </div>





    @(Html.Awe().Grid("LanguageTranslator")
			.Mod(o => o.PageInfo().ColumnsSelector().ColumnsAutohide())
			.Url(Url.Action("GridGetItems", "StringTranslator"))
			.Parent("txtSearch", "search")
			.Resizable()
			.Reorderable()
			.Columns(
				new Column{Name = "Text", Header = "Original Text" }.Mod(o => o.Nohide()),
				new Column{Name = "Marathi" },
				new Column { Name = "Hindi"},
				new Column { Name = "French" },
				new Column { Name = "Chinese" },
				new Column { Name = "Spanish" },
				
				new Column{ClientFormat = GridUtils.EditFormatForGrid("LanguageTranslator"), Width = 50}.Mod(o => o.Nohide()),
				new Column{ClientFormat = GridUtils.DeleteFormatForGrid("LanguageTranslator"), Width = 50}.Mod(o => o.Nohide())))
<br/>


